@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-sm bg-light p-4 m-1">
            <h1 class="text-center">Book</h1>
            <form class="form" method="post">
                <div class="form-group">
                    <label asp-for="Inquiry.StartDate" class="col-md-3 right">Start date</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                &#x1F4C5;
                            </div>
                        </div>
                        <input asp-for="Inquiry.StartDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                    <span asp-validation-for="Inquiry.StartDate"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Inquiry.EndDate" class="col-md-3 right">End date</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                &#x1F4C5;
                            </div>
                        </div>
                        <input asp-for="Inquiry.EndDate" class="form-control" min="@DateTime.Today.ToString("yyyy-MM-dd")" />
                    </div>
                    <span asp-validation-for="Inquiry.EndDate"></span>
                </div>
                @if (!string.IsNullOrEmpty(Model.Message)) {
                    <span class="text-danger">@Model.Message</span>
                }
                <button type="submit" class="btn btn-primary btn-lg btn-block mt-5">Book</button>
            </form>
        </div>
        <div class="col-sm bg-light p-2 m-1">
            <img src="~/images/mondeo.png" class="img-fluid" />
        </div>
    </div>

    <div class="row justify-content-center text-center mb-5">
        <div class="col-sm bg-light p-3 m-1 card" style="width: 18rem;">
            <img src="~/images/mazda6.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <p class="card-text">consectetur adipiscing elit, sed do</p>
            </div>
        </div>
        <div class="col-sm bg-light p-3 m-1 card" style="width: 18rem;">
            <img src="~/images/audia6.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <p class="card-text">consectetur adipiscing elit, sed do</p>
            </div>
        </div>
        <div class="col-sm bg-light p-3 m-1 card" style="width: 18rem;">
            <img src="~/images/fordsmax.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Lorem ipsum dolor sit amet</h5>
                <p class="card-text">consectetur adipiscing elit, sed do</p>
            </div>
        </div>
    </div>

</div>