@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This is an example page for practising .NET Core 3.x. It uses session cookies to preserve information between pages. It does not store any real information.</p>
