@page
@model CarProject.Areas.Identity.Pages.Account.Manage.MyOrdersModel
@{
    ViewData["Title"] = "My Orders Page";
    ViewData["ActivePage"] = ManageNavPages.MyOrders;
}

<h4>@ViewData["Title"]</h4>
<p>Custom stuff in here?</p>
