@page
@model CarProject.Areas.Identity.Pages.Account.Manage.MyReviewModel
@{
    ViewData["Title"] = "My Review Page";
    ViewData["ActivePage"] = ManageNavPages.MyReview;
}

<h4>@ViewData["Title"]</h4>
